<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>
</div>

  <p>
    Splurty was built by <a target="_blank" href="https://github.com/josereynaud">Jose</a>. A web developer who is on a mission to give people the technical skills needed to launch their own MVPs and turn ideas into reality.
  </p>
  <br />
    <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>
 
   <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'jose.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Jose Reynaud</h2>
      <br />
      <p>
        Jose Reynaud is a junior web developer with extensive knowledge in IT Networking.
      </p>
    </div>
  </div>
  <br class="clear" />
  
  <br class="clear" />
  <br />
  <br />
  <br />
  <br />